<!DOCTYPE html>
<html>
  <head>
    <title>Pacmoon Dance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pacmoon Dance - The rules are simple: don't cause havok but pressing the button. For real.">
    <meta name="keywords" content="Pacmoon, crypto, cryptocurrency, meme, pacman, shooting stars">
    <meta property="og:title" content="Pacmoon Dance - It's not even a dance, it's just a button.">
    <meta property="og:description" content="The rules are simple: don't cause havok but pressing the button. For real.">
    <meta property="og:image" content="<%= asset_path("screenshot") %>">
    <meta property="og:url" content="https://pacmoon-09c1cf1dd6ff.herokuapp.com/">
    <link rel="canonical" href="https://pacmoon-09c1cf1dd6ff.herokuapp.com/">
    <meta name="robots" content="index, nofollow">
    <link rel="icon" href="<%= asset_path("favicon") %>" type="image/png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= render partial: "/participants_json" %>
</html>
